@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --border-flashed: 0 0% 50%;

    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0rem;

    --header-height: 80px;

    --footer-min-height: 52px;
    --footer-max-height: 88px;
    --footer-height: var(--footer-min-height);

    --gradient-line-min-height: 0px;
    --gradient-line-max-height: calc(var(--gradient-line-min-height) - 20px);
    --gradient-line-height: var(--gradient-line-min-height);

    --content-height: calc(100vh - var(--header-height) - var(--footer-height));
    --content-height: calc(100svh - var(--header-height) - var(--footer-height));

    --padding-x: 60px;

    --progress: 0 0% 75%;

    --rays-light: rgba(255, 227, 130, 0.1);
    --rays-strong: rgba(255, 247, 138, 0.3);
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 50%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --progress: 0 0% 50%;

    --rays-light: rgba(68, 0, 255, 0.14);
    --rays-strong: rgba(68, 0, 255, 0.2);
  }

  .grid-background::after,
  .grid-background::before {
    content: '';
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: translate(20%, -20%) rotate(0deg);
    position: absolute;
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
  }

  .transition-enabled .grid-background::after,
  .transition-enabled .grid-background::before {
    transition:
      transform 1s linear,
      background 1s 0.1s linear;
  }

  .dark .grid-background::after,
  .dark .grid-background::before {
    transform: translate(20%, -20%) rotate(360deg);
  }

  .grid-background::after {
    width: 593px;
    height: 593px;
    background: var(--rays-light);
  }

  .grid-background::before {
    width: 300px;
    height: 300px;
    background: var(--rays-strong);
  }

  @media (max-width: 640px) {
    :root {
      --header-height: 65px;
      --padding-x: 18px;
    }

    .grid-background {
      background-image: linear-gradient(
          to right,
          transparent calc(var(--padding-x) - 1px),
          hsl(var(--border)) var(--padding-x),
          transparent calc(var(--padding-x) + 1px),
          transparent 100%
        ),
        linear-gradient(
          to left,
          transparent calc(var(--padding-x) - 1px),
          hsl(var(--border)) var(--padding-x),
          transparent calc(var(--padding-x) + 1px),
          transparent 100%
        );
    }

    .grid-background::after {
      width: 300px;
      height: 300px;
    }

    .grid-background::before {
      width: 150px;
      height: 150px;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background grid-background text-foreground;
    font-family: 'PT Sans', sans-serif;
  }
}
